{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jquery": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "next",
        "next/core-web-vitals"
    ],
    "parser": "@typescript-eslint/parser",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "overrides": [],
    "ignorePatterns": [
        "node_modules"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "args": "none"
            }
        ],
        "@typescript-eslint/indent": [
            "error",
            2
        ],
        "@typescript-eslint/no-non-null-assertion": [
            "off"
        ],
        "@typescript-eslint/explicit-module-boundary-types": [
            "off"
        ],
        "@typescript-eslint/no-explicit-any": [
            "off"
        ],
        "@typescript-eslint/no-empty-interface": [
            "off",
            {
                "allowSingleExtends": true
            }
        ],
        "@typescript-eslint/ban-types": [
            "off"
        ],
        "@typescript-eslint/ban-ts-comment": "off",
        "react/prop-types": [
            "error",
            {
                "skipUndeclared": true
            }
        ],
        "indent": [
            "error",
            2,
            {
                "flatTernaryExpressions": true,
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_"
            }
        ],
        "no-empty-function": "off",
        "@typescript-eslint/no-empty-function": "off",
        "react/display-name": 0,
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "quotes": [
            "error",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "semi": "off",
        "block-spacing": [
            "error",
            "always"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "@typescript-eslint/semi": [
            "error"
        ],
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": {
                    "delimiter": "semi",
                    "requireLast": true
                },
                "singleline": {
                    "delimiter": "comma",
                    "requireLast": false
                }
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
